*{
    margin: 0;
    padding: 0;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #f2f4f3;
    border-radius: 0;
}

body{
    background-color: #000;
    padding: 150px 50px;
}
.main-container{
    background-color: #1d1d1d;
    border-radius: 20px;
    padding: 50px;
}

h1{
    font-family: "basic-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 50px;
}

.control-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 50px;
}

.control-container-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}
.control-container-text input{
    background-color: unset;
    border: none;
    border-bottom: #f2f4f3 solid;
    outline: none;
    text-align: right;
    touch-action: manipulation; /* CSS pour iOS Safari */
    -ms-touch-action: manipulation; /* CSS pour IE10 et IE11 */
    user-drag: none; /* CSS pour Safari */
    user-select: none; /* CSS pour Chrome et Firefox */
}

/* Styles de base pour le bouton de type activé/désactivé */
.toggle {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 64px;
    z-index: 10;
}

/* Cacher l'élément <input> */
.toggle input {
    display: none;
}

/* Styles pour le bouton d'arrière-plan (état désactivé) */
.toggle label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #ccc;
    cursor: pointer;
}

/* Styles pour le bouton d'arrière-plan (état activé) */
.toggle label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
}

/* Styles pour le bouton lorsque l'état est activé */
.toggle input:checked + label {
    background-color: #66bb6a;
}

/* Styles pour le bouton (cercle) lorsqu'il est activé */
.toggle input:checked + label::before {
    transform: translateX(45px);
}